.datepicker {
  max-width: 6.5rem;
}

.sunpicker {
  height: 214px;
  background-color: #151824;
  width: 214px;
  border: 1px solid #151824;
  margin: 1.8rem 0;
  display: none;
  position: absolute;
  text-align: center;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 2px #30384f;
  box-shadow: 0 0 2px #30384f;
  z-index: 1000;
}

.sunpicker .day {
  height: 26px;
  width: 30px;
  line-height: 26px;
  float: left;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 26px;
  width: 30px;
  line-height: 26px;
}

.sunpicker .day:hover {
  border-radius: 10px;
  color: #8A92A6;
  background-color: #30384f;
}

.sunpicker .title {
  height: 26px;
  width: 30px;
  line-height: 26px;
  float: left;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.sunpicker .fav {
  height: 26px;
  width: 30px;
  line-height: 26px;
  float: left;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.sunpicker .otherday {
  height: 26px;
  width: 30px;
  line-height: 26px;
  float: left;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #30384f;
}

.sunpicker .otherday:hover {
  border-radius: 10px;
  color: #8A92A6;
  background-color: #30384f;
}

.sunpicker .month {
  height: 26px;
  width: 30px;
  line-height: 26px;
  float: left;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 44px;
  width: 68px;
  display: table-cell;
  line-height: 44px;
  margin: 1px;
  font-size: 14px;
}

.sunpicker .month:hover {
  border-radius: 10px;
  color: #8A92A6;
  background-color: #30384f;
}

.sunpicker .year {
  height: 26px;
  width: 30px;
  line-height: 26px;
  float: left;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 35px;
  width: 50px;
  line-height: 35px;
  margin: 1px;
}

.sunpicker .year:hover {
  border-radius: 10px;
  color: #8A92A6;
  background-color: #30384f;
}

.sunpicker .prevButton {
  height: 13%;
  width: 16%;
  font-weight: bold;
  background: #30384f;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 10px 0 0 0;
  width: 30px;
  float: left;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30384f), to(#222738));
  background-image: linear-gradient(top, #30384f, #222738);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0B689D', EndColorStr='$dateTitleBGColorDark');
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #8A92A6;
}

.sunpicker .prevButton:hover {
  border-radius: 10px 0 0 0;
  width: 30px;
  float: left;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222738), to(#30384f));
  background-image: linear-gradient(top, #222738, #30384f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$dateTitleBGColorDark', EndColorStr='$dateTitleBGColorLight');
}

.sunpicker .nextButton {
  height: 13%;
  width: 16%;
  font-weight: bold;
  background: #30384f;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 0 10px 0 0;
  width: 30px;
  float: right;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30384f), to(#222738));
  background-image: linear-gradient(top, #30384f, #222738);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0B689D', EndColorStr='$dateTitleBGColorDark');
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #8A92A6;
}

.sunpicker .nextButton:hover {
  border-radius: 0 10px 0 0;
  width: 30px;
  float: right;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222738), to(#30384f));
  background-image: linear-gradient(top, #222738, #30384f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$dateTitleBGColorDark', EndColorStr='$dateTitleBGColorLight');
}

.sunpicker .favButton {
  height: 13%;
  width: 16%;
  font-weight: bold;
  background: #30384f;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  width: 30px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30384f), to(#222738));
  background-image: linear-gradient(top, #30384f, #222738);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0B689D', EndColorStr='$dateTitleBGColorDark');
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #8A92A6;
}

.sunpicker .favButton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222738), to(#30384f));
  background-image: linear-gradient(top, #222738, #30384f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$dateTitleBGColorDark', EndColorStr='$dateTitleBGColorLight');
}

.sunpicker .titleButton {
  height: 13%;
  width: 16%;
  background: #30384f;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
  width: 122px;
  left: 0;
  right: 0;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30384f), to(#222738));
  background-image: linear-gradient(top, #30384f, #222738);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0B689D', EndColorStr='$dateTitleBGColorDark');
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #8A92A6;
}

.sunpicker .titleButton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222738), to(#30384f));
  background-image: linear-gradient(top, #222738, #30384f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$dateTitleBGColorDark', EndColorStr='$dateTitleBGColorLight');
}

.sunpicker .time {
  width: 100%;
  float: left;
  display: table-cell;
  padding-top: 25px;
  vertical-align: middle;
  text-align: center;
}

.sunpicker .time div {
  position: relative;
  line-height: 30px;
  text-align: center;
  height: 32px;
  padding: 1px;
  width: 115px;
  margin: 5px auto;
  border: 1px solid #222738;
}

.sunpicker .time input[type="number"] {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  width: 30px;
  text-align: center;
  bottom: 0;
  border: 0;
}

.sunpicker .time .error {
  border: 1px solid #fff;
  height: 20px;
  color: red;
  margin: 0;
}

.sunpicker .time button {
  width: 100px;
  height: 30px;
  text-align: center;
}

.sunpicker button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30384f), to(#222738));
  background-image: linear-gradient(top, #30384f, #222738);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0B689D', EndColorStr='$dateTitleBGColorDark');
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #000000;
  border-radius: 10px;
}

.sunpicker button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222738), to(#30384f));
  background-image: linear-gradient(top, #222738, #30384f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$dateTitleBGColorDark', EndColorStr='$dateTitleBGColorLight');
}

.sunpicker .selected {
  background: #272d41;
  color: #8A92A6;
  border-radius: 10px;
}

.sunpicker .disabled {
  color: red;
}

.sunpicker .disabled:hover {
  cursor: default;
  background: none;
}

.sunpicker input[type="number"] {
  -moz-appearance: textfield;
}

.sunpicker input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.sunpicker input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.calendarButton {
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
  cursor: pointer;
}

.calendarButton img {
  width: 23px;
  height: 23px;
}

.h-red {
  outline: 1px solid red;
}

.multiselect {
  min-width: 250px;
}